.no-page-container {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  .error-picture {
    height: 40vmin;
    pointer-events: none;
  }

  .picture-attribution {
    font-size: 10px;
  }
}
