@import "./header.css";
@import "./about.css";
@import "./project.css";
@import "./contact.css";
@import "./small-screens.css";

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #080808;
	color: white;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

main {
	position: absolute;
	background-color: rgb(0, 0, 0, 0.5);
}

.red {
	color: #ff004f;
}

.container {
	padding: 10px 10%;
}

.sub-title {
	font-size: 60px;
	font-weight: 600;
	color: white;
}
